
div{
    &.contentContainer{
        height: 250vh;
        width: 100vw;
    }
    &.backgroundContainer{
        display: flex; 
        justify-content: center;
        width: 100vw;
        height: 38rem;
        background:linear-gradient(360deg, rgba(255, 0, 0, 0.69) 0%, rgba(41, 0, 0, 0.51) 100%), url(../../assets/image.png);
        mix-blend-mode: soft-light; 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @media(min-width: 320px) and (max-width: 610px){
            background: linear-gradient(360deg, rgba(255, 0, 0, 0.69) 0%, rgba(41, 0, 0, 0.51) 100%), url(../../assets/imgRes.png);
            mix-blend-mode: soft-light; 
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        
    }
    &.lineContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      
        p{  
            padding: 2rem;
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 300;
            font-size: 2.25rem;
            text-align: center;
            line-height: 2.6rem;
            letter-spacing: 0.125em;
            text-transform: uppercase;
            color: #FFFFFF;
            text-shadow: 0px 0px 3px #000000;  

            @media(min-width: 320px) and (max-width: 610px){
                line-height: 28px;
                text-transform: uppercase;
                font-size: 1.5rem;
                text-align: center;
                text-shadow: 0px 0px 10px #000000;
            }
        }
        .arrow{
            cursor: pointer;
            margin-bottom: 2vh;
        }
        .logoBackground{
            margin-top: 14vh;
            @media (min-width:320px) and (max-width: 720px){
                width: 55%;
            }
        }
    }
    h1{
        &.whatYouDo{
            display: flex;
            justify-content: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 2.2rem;
            text-align: center;
            letter-spacing: 0.125em;
            text-transform: uppercase;
            color: #000000;
            margin-top: 8rem;
            margin-bottom: 8rem;

            @media(min-width: 320px) and (max-width: 610px){
                font-size: 1rem;
                margin-top: 4rem;
                margin-bottom: 4rem;
            }
        }
    }
    &.options{
        display: flex;
        align-items: center;
        justify-content: center;

        @media(min-width: 320px) and (max-width: 610px){
            flex-direction: column;
        }
        div{
            
            &.option1{
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-right: 8.5rem;
                @media(min-width: 320px) and (max-width:610px){
                    margin: 0 0 5rem 0px; 
                    flex-direction: row;

                    img{
                        margin-right: 52px;
                        width: 54px;
                        height: 54px;
                    }
                }

            }
            &.option2{
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-right: 8.5rem;

                @media(min-width: 320px) and (max-width: 610px){
                    margin: 0 0 5rem 0px; 
                    flex-direction: row-reverse;

                    img{
                        margin-left: 66px;
                        width: 54px;
                        height: 54px;
                    }
                }
            }
            &.option3{
                display: flex;
                align-items: center;
                flex-direction: column;

                @media(min-width: 320px) and (max-width: 610px){
                    margin-bottom: 5rem;

                    p{
                        text-align: center;
                    }
                    
                    img{
                        width: 84px;
                        height: 78px;
                    }
                }

            }
        }
        
        p{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 1.8rem;
            text-align: center;
            letter-spacing: 0.125em;
            color: #000000;

            span{
                font-weight: 700;
            }

            @media(min-width: 320px) and (max-width: 610px){
                font-size: 1rem;
                text-align: left;
            }
        }
    }

}