header{
    position: relative;
    top: 0;
    width: 100vw;
    height: 4rem;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        img{
            width: 160px;
        }
    }

    @media (min-width: 320px) and (max-width: 720px){
        img{
            width: 30%;
        }
    }
}
